{% extends 'base.html.twig' %}

{% block title %}Reserva{% endblock %}

{% block body %}

<style>
.center {
  text-align: center;
  color: #dca73a;
}
</style>

<h3 class="center">No existe una reserva con ese usuario</h3>


{% endblock %}