<form method="post" action="{{ path('cliente_delete', {'codcliente': cliente.codcliente}) }}" onsubmit="return confirm('¿Estás seguro de que deseas borrarlo?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cliente.codcliente) }}">
    <button class="btn">Borrar</button>
</form>
