<form method="post" action="{{ path('planta_delete', {'idplanta': plantum.idplanta}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plantum.idplanta) }}">
    <button class="btn">Borrar</button>
</form>
