{% extends 'base.html.twig' %}

{% block title %}Nueva Planta{% endblock %}

{% block body %}
    <h1>Crear nueva Planta</h1>

    {{ include('planta/_form.html.twig') }}

    <a href="{{ path('planta_index') }}">Volver atrás</a>
{% endblock %}
