{% extends 'base.html.twig' %}

{% block title %}Edit Parteutil{% endblock %}

{% block body %}
    <h1>Edit Parteutil</h1>

    {{ include('parteutil/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('parteutil_index') }}">Volver atrás</a>

    {{ include('parteutil/_delete_form.html.twig') }}
{% endblock %}
