{% extends 'base.html.twig' %}

{% block title %}Nueva parte útil{% endblock %}

{% block body %}
    <h1>Crear nueva parte útil</h1>

    {{ include('parteutil/_form.html.twig') }}

    <a href="{{ path('parteutil_index') }}">Volver atrás</a>
{% endblock %}
