{% extends 'base.html.twig' %}

{% block title %}Nueva Categoría{% endblock %}

{% block body %}
    <h1>Crear una nueva categoría</h1>

    {{ include('categoria/_form.html.twig') }}

    <a href="{{ path('categoria_index') }}">Volver atrás</a>
{% endblock %}
