{% extends 'base.html.twig' %}

{% block title %}Editar Uso medico{% endblock %}

{% block body %}
    <h1>Editar Uso medico</h1>

    {{ include('usomedico/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('usomedico_index') }}">Volver atrás</a>

    {{ include('usomedico/_delete_form.html.twig') }}
{% endblock %}
