{% extends 'base.html.twig' %}

{% block title %}Nuevo Uso medico{% endblock %}

{% block body %}
    <h1>Create new Usomedico</h1>

    {{ include('usomedico/_form.html.twig') }}

    <a href="{{ path('usomedico_index') }}">back to list</a>
{% endblock %}
