{% extends 'base.html.twig' %}

{% block title %}Nuevo Color de flor{% endblock %}

{% block body %}
    <h1>Crear nuevo color</h1>

    {{ include('colorflor/_form.html.twig') }}

    <a href="{{ path('colorflor_index') }}">Volver atrás</a>
{% endblock %}
