<form method="post" action="{{ path('complemento_delete', {'idcomplemento': complemento.idcomplemento}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ complemento.idcomplemento) }}">
    <button class="btn">Delete</button>
</form>
