{% extends "base.html.twig" %}
{% block body %}
<div class="alert alert-danger">
Solo el administrador del sitio tiene acceso. <br> <br> <a class="btn btn-danger" href="{{ path('inicio') }}">Volver</a>
</div>
{% endblock %}